*{
    padding: 0;
    margin: 0;
}
#nav-bar{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.filter-green{
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.navbar-brand{
    margin: 0px 40px 0px 80px;
}
.nav-item{
    margin: 0px 20px;
}
.form-inline{
    margin:0px 60px 0px 40px ;
}
.fa-cart-arrow-down{
    font-size: 20px;
}
.container{
    margin-top: 40px;
}
.price{
    font-family: 'Be Vietnam Pro', sans-serif;
    color:rgb(254,52,100);
}
#footer{
    background-color: #343a40;
    margin-top: 150px;
}
.center{
    align-items: center;
    height: 100%;
    width: 100%;
    
}
#footer h4{
    color: #fff;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin:20px 0px ;
}
#footer p{
    color: #28a745;
    font-family: 'Be Vietnam Pro', sans-serif;
}